*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
#hero {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color:#20E189 ;
color: white;
border: dashed;
}
#img {
   width: 250px;
   height: 250px;
}
#mi_cv {
    padding: 20px 20px 5px 20px;
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#prof {
    padding: 0px 20px 20px 20px ;
    font-size:28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#direccion_tel{
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    padding: 20px 20px 5px 20px;
}
#mail {
    font-family: 'Rubik', sans-serif; 
    font-size:25px;
    font-weight: bold;
    padding: 0px 20px 20px 20px;
}


#formacion {
    background-color:#77DFB0;
    line-height : 30px;
    border: dashed;
    padding: 10px 10px 15px 10px;
}
#title_formacion {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
    
}
#estudios_detalle {
    font-family: 'Rubik', sans-serif; 
    font-size:20px;
    padding: 0px 20px 20px 20px;
}

#experiencia {
    background-color:#A7DDC4;
    padding: 10px 10px 15px 10px;
    line-height : 30px;
    border: dashed;
}

#title_experiencia {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

#trabajos_detalle {
    font-family: 'Rubik', sans-serif; 
    font-size:20px;
    padding: 0px 20px 20px 20px;
}
#cursos {
    background-color:#C0DBCE;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px 15px 10px;
    line-height : 30px;
    border: dashed; 
}
 

#botonVerMas {
    font-family:  Verdana, Geneva, Tahoma, sans-serif; 
    color: white;
    font-weight: bold;
    background-color: #5E8DD1;
    padding: 5px 7px 5px 7px;
  
 }

 #botonVerMenos {
    font-family:  Verdana, Geneva, Tahoma, sans-serif; 
    color: white;
    font-weight: bold;
    background-color: #C49261;
    padding: 5px 7px 5px 7px;
    display: none;
 }

#cursos_detalle {
    font-family: 'Rubik', sans-serif; 
    font-size:20px;
    padding: 0px 20px 20px 20px;
    font-weight: lighter;
    
}
#textoDeCursos {
    display: none;
}

#contacto {
    background-color: #E7F8F0;
    padding: 10px 10px 15px 10px;
    line-height : 30px;
    border: dashed; 
    text-align: center;
}

#contactate {
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 7px 10px 7px 10px; 
   
}
